#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #B7C297;

  #title {
    margin-left: 2%;
  }

  #cart{
    color: #57714f;
    width: 50px;
    display: flex;
    justify-content: right;
    margin-right: 4%;
  }
}